html,body{
	width: 100%;
	height: 100%;
	overflow: hidden;
}
html{
	font-size: 100px;
}
.swiper-container,.swiper-slide{
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.main{
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
}

.swiper-slide{
	position: relative;
	background: url(../images/576aa6d4a3664e22380009ee.png) no-repeat;
	background-size: cover;
}
.swiper-slide .bg{
	position: absolute;
	width: 100%;
	height: auto;
	top: 0;
	left: 0;
	z-index: 0;
}
.up{
	z-index: 2;
	position: absolute;
	width: 0.96rem;
	height: 1.03rem;
	bottom: 0.2rem;
	left: 50%;
	margin-left: -0.48rem;
	animation: up 1s linear 0s infinite both ;
}
.mountain{
	width: 2.04rem;
	height: 0.46rem;
	bottom: 0;
	left: 50%;
	margin-left: -1.02rem;
}
.swiper-slide img{
	position: absolute;
}


/*PAGE1*/
.page1 .person{
	top: 0.5rem;
	left: 3.335rem;
	margin-left: -0.5rem;
	width: 2.32rem;
	height: 4.35rem;
	z-index: 1;
	transform-origin: center bottom; 
	animation: person 1s linear 0s 1 both;
}
.page1 .board{
	z-index: 1;
	width: 4.9rem;
	height: 1.03rem;
	left: 50%;
	margin-left: -2.45rem;
	top: 6.1rem;
	animation: board 0.5s linear 1s 1 both;
}
.page1 .resume{
	width: 1.98rem;
	height: 0.56rem;
	left: 50%;
	margin-left: -0.99rem;
	top: 8.1rem;
	transform: scale(1.5);
	animation: resume 0.5s linear 1.4s 1 both;
}
.page1 .name{
	width: 100%;
	font-size: 0.5rem;
	position: absolute;
	color: #FDF5E9;
	left: 50%;
	top: 9rem;
	margin-left: -28%;
	animation: name 1s linear 1.6s 1 both;
}

.page1 .bullon{
	width: 0.46rem;
	height: 0.67rem;
	bottom: 2rem;
	left: 50%;
	margin-left: -0.23rem;
	animation: bullon 2s linear 2.5s 1 both;
}
.page1 .realize{
	width: 2.57rem;
	height: 0.47rem;
	left: 50%;
    margin-left: -1.25rem;
    bottom: 2.5rem;
    animation: realize 3s linear 4.1s 1 both;
}


/*PAGE2*/
.page2 .page2-box{
	width: 3.22rem;
	position: absolute;
	font-size: 0.05rem;
}
.page2 .page2-board{
	width: 7rem;
	height: 11.17rem;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	animation: page2-board 0.5s linear 0s 1 both;
}
.page2 .title{
	width: 4.96rem;
	height: 1.04rem;
	top: 0.1rem;
	left: 50%;
	margin-left:-2.48rem;
	animation: title 0.5s ease-out 0.6s 1 both;
}
.page2 .line{
	width: 0.03rem;
	height: 11.68rem;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	animation: page2-board 0.5s linear 0s 1 both;
}
.page2 .page2-person{
	width: 1.33rem;
	height: auto;
	right: 0.8rem;
    top: 1.2rem;
    animation: page2-person 0.5s ease-out 1s 1 both;
}
.page2 .school{
	width: 3.22rem;
	height: 3.4rem;
	padding-top: 0.3rem;
	top: 1.5rem;
    left: 0.6rem;
    transform-origin: right top; 
    animation: school 0.5s ease-out 1.5s 1 both;
}
.page2 .school img{
	top: 0;
}
.page2 .bank{
	width: 3.22rem;
	padding-top: 0.3rem;
	top: 3.8rem;
    left: 49%;
    transform-origin: left top;
    animation: bank 0.5s ease-out 2s 1 both;
}
.page2 .bank img{
	top: 0;
	left: 0;
}
.page2 .zuoke{
	width: 3.22rem;
	padding-top: 0.3rem;
	left: 0.6rem;
	top: 5.7rem;
    transform-origin: right top; 
    animation: school 0.5s ease-out 2.5s 1 both;
	
}
.page2 .zuoke img{
	top: 0;
}
.page2 .linjia{
	width: 3.22rem;
	padding-top: 0.3rem;
	top: 7.4rem;
    left: 49%;
    transform-origin: left top;
    animation: bank 0.5s ease-out 3s 1 both;
    
}
.page2 .linjia img{
	top: 0;
	left: 0;
}
.page2 .learn{
	width: 3.22rem;
	padding-top: 0.3rem;
	left: 0.6rem;
	top: 9.7rem;
    transform-origin: right top; 
    animation: school 0.5s ease-out 3.5s 1 both;
	
}
.page2 .learn img{
	top: 0;
}
/*.page2-tag{
	bottom: 1rem;
    right: 0.4rem;
    transform: scale(0.6);
}*/

/*PAGE3*/
.page3 .page3-board{
	z-index: 1;
	width: 7rem;
	height: 11.17rem;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	animation: page2-board 0.5s linear 0s 1 both;
}
.page3 .test{
	z-index: 2;
	width: 4.96rem;
	height: 1.04rem;
	top: 0.1rem;
	left: 50%;
	margin-left:-2.48rem;
	animation: title 0.5s ease-out 0.6s 1 both;
}
.page3 .canvas_parent{
	position: absolute;
	z-index: 3;
	width: 7rem;
	height: 10rem;
	left: 0;
	top: 1.3rem;
	right: 0;
	margin: auto;
	/*border: 1px solid black;*/
}
.page3 .canvas_parent div{
	position: absolute;
}
.page3 .canvas_parent #canvasH5{
	width: 50%;
	height: 25%;
	top: 0;
	left: 0;
	/*background-color: lightblue;*/
}
.page3 .canvas_parent #canvasCSS3{
	width: 50%;
	height: 25%;
	top: 0;
	right: 0;
	/*background-color: lightcoral;*/
}
.page3 .canvas_parent #canvasJS{
	width: 50%;
	height: 25%;
	top: 25%;
	left: 0;
	/*background-color: lightgray;*/
}
.page3 .canvas_parent #canvasJQ{
	width: 50%;
	height: 25%;
	top: 25%;
	right: 0;
	/*background-color: lawngreen;*/
}
.page3 .canvas_parent #canvasKONVA{
	width: 100%;
	height: 25%;
	top: 50%;
	left: 0;
	/*background-color: #c31865;*/
}
.page3 .canvas_parent #else{
	border-radius: 0.5rem;
	line-height: 0.5rem;
	width: 90%;
	height: 25%;
	bottom: 0;
	left: 0.33rem;
	background-color: #42b7f0;
	text-align: center;
	color: #FFFFFF;
	animation: else 1.5s linear 1.6s 1 both;
}
.page3 .img_HTML{
	width: 2.22rem;
	height: 1.27rem;
	transform: scale(0.3);
	top: 1.95rem;
    left: 0.9rem;
	z-index: 3;
}
.page3 .img_CSS{
	width: 2.22rem;
	height: 1.27rem;
	transform: scale(0.3);
	z-index: 3;
	top: 1.95rem;
	right: 0.9rem;
}
.page3 .img_JS{
	width: 2.22rem;
	height: 1.27rem;
	transform: scale(0.3);
	z-index: 3;
	left: 0.9rem;
	top: 4.45rem;
}
.page3 .img_JQ{
	width: 2.22rem;
	height: 1.27rem;
	transform: scale(0.3);
	z-index: 3;
	right: 0.9rem;
	top: 4.45rem;
}
.page3 .img_KON{
	width: 2.22rem;
	height: 1.27rem;
	transform: scale(0.3);
	z-index: 3;
	top: 6.95rem;
    left: 2.65rem;
}
.page3 .img_tag{
	animation: imgTag 0.5s linear 1.2s 1 both;
}


/*PAGE4*/
.page4 .page4_board{
	z-index: 1;
	width: 7rem;
	height: 11.17rem;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	animation: page2-board 0.5s linear 0s 1 both;
}
.page4 .page4_project{
	z-index: 2;
	width: 4.96rem;
	height: 1.04rem;
	top: 0.1rem;
	left: 50%;
	margin-left:-2.48rem;
	transform-origin: center top;
	animation: project 0.5s linear 0.6s 1 both; 
}
.page4 .page4_person{
	width: 1.33rem;
	height: auto;
	z-index: 3;
	bottom: 0;
    left: 0;
    opacity: 0;
    animation: leftBottomPerson 2s linear 2s infinite alternate;
}
.page4 .mall_title{
	z-index: 3;
	width: 8.16rem;
	height: 0.46rem;
    top: 1.5rem;
    left: -0.3rem;
    transform: scale(0.7);
    animation: mallTitle 1s linear 1s 1 both;
}
.page4 .mall{
	z-index:3;
	width: 3rem;
	height: 7.53rem;
	transform: scale(1);
	top: 2.5rem;
    left: 0.8rem;
    animation: mall 1s linear 1.2s 1 both;
}
.page4 .mall_detail{
	width: 3rem;
	height: 7.53rem;
	z-index: 3;
	transform: scale(1);
    top: 2.5rem;
    right: 0.5rem;
    animation: mallDetail 1s linear 1.2s 1 both;
}


/*PAGE5*/
.page5 .page5_board{
	z-index: 1;
	width: 7rem;
	height: 11.17rem;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	animation: page2-board 0.5s linear 0s 1 both;
}
.page5 .page5_project{
	z-index: 2;
	width: 4.96rem;
	height: 1.04rem;
	top: 0.1rem;
	left: 50%;
	margin-left:-2.48rem;
	transform-origin: center top;
	animation: project 0.5s linear 0.6s 1 both; 
}
.page5 .page5_person{
	width: 1.33rem;
	height: auto;
	z-index: 3;
	bottom: 0;
    left: 0;
    opacity: 0;
    animation: leftBottomPerson 2s linear 2s infinite alternate;
}
.page5 .shopcart{
	width: 7rem;
	height: 3.27rem;
	z-index: 3;
	right: 0;
	left: 0;
	top: 2rem;
	transform: scale(0.8);
	margin: auto;
	opacity: 0;
}
.page5 .shopcart_title{
	width: 7.9rem;
	height: 0.46rem;
	z-index: 3;
	transform: scale(0.7);
	left: 50%;
	margin-left: -3.95rem;
	top: 1.4rem;
	animation: mallTitle 1s linear 1s 1 both;

}
.page5 .cart2{
	animation: cart2 6s linear 1.6s infinite both;
	border: 0.01rem solid black;
	
}
.page5 .cart1{
	animation: cart1 6s linear 1.6s infinite both;
	border: 0.01rem solid black;
	
}
.page5 .shopcart_detail{
	width: 4.54rem;
	height: 3.62rem;
	z-index: 3;
	border-radius: 0.5rem;
	transform: scale(1.2);
	left: 0;
	right: 0;
	top: 6rem;
	margin: auto;
	animation: shopcart_detail 2.5s linear 2s 1 both;
}


/*PAGE6*/
.page6 .page6_board{
	z-index: 1;
	width: 7rem;
	height: 11.17rem;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	animation: page2-board 0.5s linear 0s 1 both;
}
.page6 .page6_project{
	z-index: 2;
	width: 4.96rem;
	height: 1.04rem;
	top: 0.1rem;
	left: 50%;
	margin-left:-2.48rem;
	transform-origin: center top;
	animation: project 0.5s linear 0.6s 1 both; 
}
.page6 .page6_person{
	width: 1.33rem;
	height: auto;
	z-index: 3;
	bottom: 0;
    left: 0;
    opacity: 0;
    animation: leftBottomPerson 2s linear 2s infinite alternate;
}
.page6 .pc_resume{
	width: 9rem;
	height: 4.62rem;
	z-index: 3;
	left: 50%;
	margin-left: -4.5rem;
}
.page6 .pc_resume_title{
	width: 5.16rem;
	height: 0.46rem;
	z-index: 3;
	top: 1.5rem;
    margin-left: -2.58rem;
    left: 50%;
	animation: mallTitle 1s linear 1s 1 both;
    
}
.page6 .pc_resume_detail{
	width: 4.54rem;
	height: 3.62rem;
	z-index: 3;
	border-radius: 0.5rem;
	transform: scale(1.2);
	left: 0;
	right: 0;
	top: 6.5rem;
	margin: auto;
	animation: shopcart_detail 2.5s linear 2.5s 1 both;
	
}
.resume_container{
	width: 9rem;
	height: 4.62rem;
	z-index: 3;
	left: -0.8rem;
	margin-left: -4.5rem;
	transform: scale(0.7);
	top: 1.6rem;
	overflow: hidden;
	position: absolute;
	animation: pc_resume 1s linear 2s 1 both;
}
.resume_wrapper{
	width: 100%;
	height: 100%;
	position: absolute;
}
.resume_wrapper .swiper-slide img{
	width: 100%;
	height: auto;
}
.resume_container .mask{
	background-color:rgba(0,0,0,0.1);
	width: 100%;
	height: 1rem;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 4;
	color: #FFFFFF;
	text-align: center;
	line-height: 1rem;
	
}


/*PAGE7*/
.page7 .page7_board{
	z-index: 1;
	width: 7rem;
	height: 11.17rem;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	animation: page2-board 0.5s linear 0s 1 both;
}
.page7 .page7_project{
	z-index: 2;
	width: 4.96rem;
	height: 1.04rem;
	top: 0.1rem;
	left: 50%;
	margin-left:-2.48rem;
	transform-origin: center top;
	animation: project 0.5s linear 0.6s 1 both; 
}
.page7 .page7_person{
	width: 1.33rem;
	height: auto;
	z-index: 3;
	bottom: 0;
    left: 0;
    opacity: 0;
    animation: leftBottomPerson 2s linear 2s infinite alternate;
}
.page7 .pic_mobile_resume{
	width: 2.38rem;
	height: 4.25rem;
	z-index: 3;
	top: 3rem;
    left: 1rem;
    transform: scale(1.3);
}
.page7 .pic_mobile_pic{
	width: 3.88rem;
	height: 7.75rem;
	z-index: 3;
	transform: scale(0.5);
    top: 2.2rem;
    left: 1rem;
}
.page7 .mobile_title{
	width: 4.91rem;
	height: 0.46rem;
	z-index: 3;
	top: 1.4rem;
	left: 50%;
	margin-left: -2.455rem;
}
